h3 {
	margin: auto;
}
#view {
	width: 320px;
	height: 160px;
	overflow: hidden;
	border: solid red 2px;
	margin: auto;
}
table {
	border: solid green 1px;
}
th {
	width: 30px;
	height: 30px;
	border: dotted red 1px;
}
img {
	border: solid green 1px;
	margin-top: 1px;
}